<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
<listeners>
<listener class-name ="com.thoughtworks.mysite.listeners.TestListener"/>
</listeners>
  <test name="Test"> 
  	  <parameter name= "emulator" value = "true"/>
      <parameter name= "platformName" value = "Android"/>
	  <parameter name= "platformVersion" value = "7.0"/>
	  <parameter name= "deviceName" value = "Pixel_3"/> 
	 <!-- Enter Real physical device id as udid if running suite on device & pass emulator as false --> 
	  <parameter name= "udid" value = ""/>  
    <classes>   
       <class name="com.thoughtworks.mysite.testcases.LogInTest"/> 
       <class name="com.thoughtworks.mysite.testcases.OrderProductsTest"/>
       <class name="com.thoughtworks.mysite.testcases.PaymentsTest"/>
    </classes>
  </test> 
</suite> 
